<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>


    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%level %c{10} - %m%n"/>
        </Console>
    </Appenders>
</Configuration>